@import "tailwindcss";

@tailwind utilities;

@font-face {
  font-family: 'notosans';
  src: url('/fonts/NotoSansKR-VariableFont_wght.ttf');
}

body {
  height: 100%;
}


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}