@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'notosans';
  src: url('/fonts/NotoSansKR-VariableFont_wght.ttf');
}

body {
  height: 100%;
}
